<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
  <appSettings>
    <!-- Last Data Source Workspace -->
    <add key="LWS" value="" />
    <!-- Last User Signed ID -->
    <add key="LUID" value="" />
    <!-- Last User password encoded info -->
    <add key="LPWD" value="" />
    <!-- Default Table Setting File-->
    <add key="CTableDef" value="cTableDefault.ini" />
    <!-- 主键字段标识(菌种号)-->
    <add key="KeyName" value="strain_number" />
    <!-- Default System GCM Upload Template-->
    <add key="GCMUploadTemplate" value="GCMUploadTemplate.xml" />

    <!-- 探索XML节点稳定性，游标，代表探索的当前位置，初始是0，代表从0开始-->
    <add key="Cursor" value="0" />
    <!-- 探索XML节点稳定性，深度，代表探索深度，如果在当前深度下，XML比较稳定则不会继续向下探索-->
    <add key="DetectDepth" value="5" />
    <!-- 探索XML节点稳定性，增长系数，如果在DetectDepth深度下，探索过程中出现strain节点下的attr节点增加的情况，会触发 DetectDepth * DetectDepth，使探索深度翻倍-->
    <add key="GrowthFactor" value="1.5" />

    <!--帮助文档资源定位-->
    <add key="HelpBase" value="http://localhost:8080/IDCMHelp" />
    <!-- GCM用户登录请求资源地址 -->
    <add key="SignInUri" value="http://124.16.144.48:81/api/login?username={0}&amp;password={1}" />
    <!-- GCM用户签出请求资源地址 -->
    <add key="SignOffUri" value="http://124.16.144.48:81/api/logout;jsessionid={0}" />
    <!-- GCM菌种列表信息查询请求资源地址 -->
    <add key="StrainListUri" value="http://124.16.144.48:81/api/strains/list;jsessionid={0}?currentPage={1}&amp;strainnumber={2}&amp;strainname={3}" />
    <!-- GCM菌种保藏记录详细信息请求资源地址 -->
    <add key="StrainViewUri" value="http://124.16.144.48:81/api/strains/view;jsessionid={0}?id={1}" />
    <!-- GCM菌种保藏记录批量导入请求资源地址 -->
    <add key="XMLImportUri" value="http://124.16.144.48:81/api/xmlimport;jsessionid={0}" />
    
  </appSettings>
  
</configuration>
